.profile-header {
  background-color: #df2056;
  color: #fff;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-info {
  color: #fff;
  margin: auto;
  padding: 20px;
}
